<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="body">
    <h1>Bạn đang ở bucket <%= bucket %></h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required />
      <button class="button">Tải file</button>
    </form>
    <ul>
      <% items.forEach(function(item) { %>
      <a href="/<%= item.fileName.S %>"><%= item.fileName.S %></a>
      <% }); %>
    </ul>
  </body>
</html>
